<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CDCMetal.Entities.Properties.Settings.ConnectionString"
            connectionString="Data Source=RVL;User ID=ITUSER;Password=ituserpwd;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="CDCMetal.Entities.Properties.Settings.ConnectionString1"
            connectionString="Data Source=RVL;User ID=ditta1;Password=ditta1;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="CDCMetal.Entities.Properties.Settings.ConnectionString2"
            connectionString="Data Source=RVL;Persist Security Info=True;User ID=ITUSER_TEST;Password=ITUSERPWD;Unicode=True"
            providerName="System.Data.OracleClient" />
        <add name="CDCMetal.Entities.Properties.Settings.METALPLUS_RVLConnectionString"
            connectionString="Data Source=dev08;Initial Catalog=METALPLUS_RVL;Persist Security Info=True;User ID=sa;Password=pass@word1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>