<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="CDC" connectionString="Data Source=SRV-SQL;Initial Catalog=CDC;Integrated Security=false; User Id=CDCUser; Password=CDCUser" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>